#main {
  flex: 1;
  padding: 1em;
  margin-right: 1em;
}

.mainMenu {
  padding: 1em;
}

.menu-link {
  text-decoration: none;
  padding: 0.5em 1em;
  display: block;
}

.menu-item:hover {
  background-color: #b3c7e7;
}

.menu-selected {
  background-color: #b3c7e7;
}