:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background-color: white;
  --text-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  border-radius: 0.5rem;
  color: #cfcfcf;
  background-color: #213547;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

textarea {
  border-radius: 0.5em;
  color: #cfcfcf;
  padding: 0.5em;
  margin-right: 0.5em;
  background-color: #213547;
  scrollbar-color: #213547 #000000;
  scrollbar-width: thin;
  caret-color: #cfcfcf;
}